.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba($color-black, .8);
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    
    &__content {
        @include centerElement;
        background-color: white;
        width: 95%;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.2);
        transition: all .5s .2s;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
        vertical-align: middle;
    }

    &__right {
        width: 66.6666667;
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 3rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__txt {
        font-size: 1rem;
        margin-bottom: 2rem;

        -moz-column-count: 2;
        -moz-column-gap: 2rem;
        -moz-column-rule: 1px solid $color-gray-light-2;

        column-count: 2;
        column-gap: 2rem;
        column-rule: 1px solid $color-gray-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    
    // Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close{
        &:link,
        &:visited {
            color: $color-black;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1;
        }

        &:hover {
            color: $color-primary;
        }
    }
}