*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;

    @include respond(big-desk) {
      font-size: 112.5%; // 1re = 18px, 18/16
    }

    @include respond(tab-land) {
      font-size: 87.5%; // 1rem = 14px, 14/16
    }

    @include respond(tab) {
      font-size: 75%; //  1rem = 12px, 12/16 
    }
    
    // @include respond(phone) {
    //   font-size: 65%; //  10rem = 10px, 10/16 
    // }
}

body {
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $rem-base;
  line-height: 1.7;
  color: $color-dark-gray;
  padding: 1.5rem;

  @include respond(tab) {
    padding: 0;
  }
}