


.heading-primary {
    color: white;
    text-transform: uppercase;
  
    backface-visibility: hidden;
    margin-bottom: 3rem;
    
    &--main {
      display: block;
      font-size: 3rem;
      font-weight: 400;
      letter-spacing: 2.5rem;
    
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include respond(phone) {
        letter-spacing: 1rem;
        font-family: 3rem;
      }
    }
    
    &--sub {
      display: block;
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 1rem;
    
      animation-name: moveInRight;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include respond(phone) {
        letter-spacing: .5rem;
        font-family: 3rem;
      }
    }
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2;

  @include respond(tab) {
    font-size: 1.7rem;
  }

  @include respond(phone) {
    font-size: 1.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
 font-size: $default-font-size;
 font-weight: 700;
 text-transform: uppercase;
} 

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: $default-font-size;
  }
}