.u-center-txt { text-align: center !important; }

.u-margin-bottom-big { margin-bottom: 80px !important; }
.u-margin-bottom-medium { margin-bottom: 40px !important; }
.u-margin-bottom-small { margin-bottom: 1rem !important; }
.u-margin-top {margin-top: 31rem !important;}
.u-margin-top-small {margin-top: 5rem;}