.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: white;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 3.3rem;
        right: 3.3rem;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 3.25rem;
        width: 3.25rem;
        border-radius: 50%;
        position: fixed;
        top: 3.5rem;
        right: 3.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        box-shadow: 0 1rem 2rem rgba($color-black, .8);
        transition: transform .5s;
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        width: 0;
        opacity: 0;
        transition: all .7s cubic-bezier(.42,1.65,.78,.84);
    }

    &__list {
        list-style: none;
        text-align: center;
        @include centerElement;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        transition: all .4;
        &:link,
        &:visited {
            display: inline-block;
            font-size: 2rem;
            font-weight: 300;
            padding: .5rem .5rem;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(
                120deg,
                rgba(rgba(255, 0, 0, 0), 0) 0%,
                rgba(rgba(255, 0, 0, 0), 0) 50% ,
                $color-white 50%);
            background-size: 250%;
            transition: all .4s;

            span {
                margin-right: 1rem;
                display: inline-block;
            }
        }
            
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
        
    }

    &__checkbox:checked ~ &__background{
        transform: scale(70)
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }

    // Icon styling
    &__icon {
        position: relative;
        margin-top: 2rem;

        &,
        &::before,
        &::after {
            width: 1.7rem;
            height: 2px;
            background-color: $color-dark-gray-3;
            display: inline-block;
            transition: all .2s;
        }

        &::before,
        &::after {
            content: '';
            left: 0;
            position: absolute;
        }

        &::before {top: -.5rem;}
        &::after {top: .5rem;}
    }

    &__button:hover &__icon::before {
        top: -.7rem;
    }

    &__button:hover &__icon::after {
        top: .7rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before{
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after{
        top: 0;
        transform: rotate(-135deg);
    }
}

