@mixin clearFix {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Quary orde -- Base + typography > general layout + grid + page layout > components

// Media quary manager
@mixin respond($breakpoint) {
  @if $breakpoint == phone-small {
    @media (max-width: 21.875em) { @content }; //400px
  }
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; //600px
  }
  @if $breakpoint == tab {
    @media (max-width: 61em) { @content }; //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content }; //1200px
  }
  @if $breakpoint == contact{
    @media (max-width: 84.68em) { @content }; //1200px
  }
  @if $breakpoint == big-desk {
    @media (min-width: 112.5em) { @content }; //1800px
  }
}