// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5634fa;

$color-dark-gray: #777;
$color-dark-gray-2: #999;
$color-dark-gray-3: #333;

$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

// grid
$grid-width: 75rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 4rem;
$grid-height: 3rem;

// Font Sizes
$rem-base: 100%;
$default-font-size: 1.05rem;